/* Custom Navigation */

/*
.navigation li {
    text-align:right;
    padding: 0 9px;
    margin: 0 -9px 0 -24px;
}

.side.left .navigation li {
    text-align:left;
}

.navigation li:after {
    -webkit-transition:0.25s;
    transition:0.25s;
    display:inline-block;
    height:3px;
}
.navigation li.selected:after {
    width:30px;
}


.navigation li:before {
    -webkit-transition:0.25s;
    transition:0.25s;
    opacity:0;
}
.navigation li:hover:before {
    -webkit-transition:0.25s;
    transition:0.25s;
    opacity:1;
    visibility:visible;
}
*/

/* tabs style override*/
.tabs {
    border-radius:4px;
    border:1px solid #fff;
    color:#fff;
    max-width:360px;
}

/* swap footer panels on last slide */
.lastSlide .defaultFooter { -webkit-transform:translateY(100px); transform:translateY(100px); } /* hide default footer for the last slide */
.page-loaded .customFooter { -webkit-transform:translateY(100px); transform:translateY(100px); } /* hide custom footer by default */
.page-loaded .lastSlide .customFooter { -webkit-transform:translateY(0px); transform:translateY(0px); } /* show custom footer the last slide */

/* Custom font for description paragraph */
.description { font-family:"Source Sans Pro";font-size:16px;line-height:1.21;max-width:80%;margin:0 auto;-webkit-transform:translateY(5px);transform:translateY(5px);-webkit-transition:0.5s;transition:0.5s;}

/* styles for text logo */
.textLogo {
    font-size: 33px;
    letter-spacing: -1px;
    font-weight: 600;
}

/* override cursor hover for box-74 */
a.box-74 {
    cursor: default !Important;
}

/* Menu panel-dropdown */
.panel .menu { cursor:pointer;}
.panel  .menu.small li {
    outline: none;
    border-radius: 50px;
    padding: 7px 17px;
    will-change: background;
    -webkit-transition:0.25s background;
    transition:0.25s background;
}
.panel .sections .menu.small li:focus {
    background: rgba(0, 0, 0, 0.15);
}

.dropdown.customDropdown { padding:10px 0;}
.dropdown.customDropdown li:not(.link),
.dropdown.customDropdown li.link a { font-size: 18px; padding: 8px 10px 8px 20px; cursor: pointer; display: block; text-align: left; }
.dropdown.customDropdown li:hover { background:rgba(0, 0, 0, 0.05);}
.dropdown-icon {
    stroke: #fff;
    width: 10px !important;
    height: 10px !important;
    margin-left: 4px;
}

/* scale Home Slide Bg properly on mobile */
.mobile .slides .slide[name="home"] .background {
    background-position: 70%;
}
.mobile .slides .slide[name="about"] .background {
    background-position: 25%;
}
/* fix margins on resume popup */
.text-58 {
    margin-top: 40px;
}

/* Fix background on mobile popups */
.mobile .simplifiedMobile .popup .content,
.mobile .simplifiedMobile .popup .container {
    position: absolute !important;
    height: 100%;
}